@font-face {
    font-family: SingleDay;
    src: url(SingleDay-Regular.ttf);
}

:root {
    font-family: SingleDay;
    text-align: center;
    background: rgb(19, 93, 172);
    font-size: 1.2rem;
}

html, body {
    height: 100%;
    margin: 5%;
    padding: 0;
}
  

.timer-div {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin: auto 10%;
}

.left, .right {
    flex-basis: 50%; 
    text-align: center; 
}

.timer-elements {
    font-size: 4rem;
    display: block;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

img {
    transition: .5s;
    margin-top: 5%;
    padding: 10px;
    animation: enlarge 2s infinite;
    width: auto; height: auto;
}

@keyframes enlarge {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
  