@font-face {
    font-family: SingleDay;
    src: url(SingleDay-Regular.ttf);
}

:root {
    font-family: SingleDay;
    text-align: center;
    background: rgb(19, 93, 172);
}

html, body {
    height: 100%;
    margin: 5%;
    padding: 0;
}
  

.timer-div {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin: auto 10%;
}

.left, .right {
    flex-basis: 50%; /* Each div takes up half the space */
    text-align: center; /* Align text to center */
}

.timer-elements {
    font-size: 4rem;
    display: block;
}

img {
    transition: .5s;
    margin-top: 5%;
    padding: none;
    animation: enlarge 2s infinite;
}

@keyframes enlarge {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}
  